textarea,
input[type=text] {
	width: 100%;
}

table.parametersTable {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

table.parametersTable th {
  background-color: #f5f5f5;
  text-align: left;
  font-weight: normal;
  border: 1px solid #ccc;
}

table.parametersTable th,
table.parametersTable td {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: .3em 0 .3em 0.3em;
  vertical-align: top;
}

table.parametersTable td.edit {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-right: none;
  width: 4%;
}

.grayNote, .smallNote, .smallNoteAttention {
    max-width: 640px;
    color: #737577;
    font-size: 90%;
}