resolveAllDependencies=false

maven.runPreStep=true
maven.resolveDependencies=true
maven.ignoredScopes=[]
maven.ignoreSourceFiles=true
maven.ignorePomModules=false
maven.ignoreMvnTreeErrors=true
maven.aggregateModules=false
#maven.projectNameFromDependencyFile=false
#maven.maxCacheFolderSize=
#maven.m2RepositoryPath=
#maven.environmentPath=
#maven.downloadMissingDependencies=true
#maven.additionalArguments=
