@font-face {
  src: url('../fonts/Electrolize-Regular.ttf');
  font-family: 'Electrolize';
}

@font-face {
  src: url('../fonts/OpenSans-Regular.ttf');
  font-family: 'OpenSans';
}


html {
  font-family: 'OpenSans';
}


// WEIRD FRONT-PAGE SECTIONS

section.front-page-alt {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  flex-basis: row;
}

section.front-page-top {
  height: 100%;
}

aside {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  font-family: 'Electrolize';
}

aside a {
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Electrolize';
}


// LOGO STUFF
  
.logo-surround {
  display: flex;
  align-items: center;
  justify-content: center
}

.logo-title,
.logo-image {
   font-size: 100px;
   font-family: 'Electrolize';
   color: white;
   display: inline-block;
   padding: 10px;
 }
 
 .logo-bot {
   color: #0099FF; 
 }
 
 .logo-image img {
   height: 70px;
   background-color: white;
   border-radius: 6px;
   padding: 10px;
 }