// WEIRD FRONT-PAGE SECTIONS

section.front-page {
  //clip-path: polygon(0 9rem,100% 0,100% 90rem,0 80rem);
  font-size: 2rem;
}

section.front-page-alt {
  background-color: lighten($body-background-color, 15%);
  clip-path: polygon(0 9rem,100% 0,100% 100%,0 9rem);
  display: flex;
}

section.front-page-top {
  height: 100%;
}

aside {
  font-size: 1.5rem;
  background-color: lighten($body-background-color, 35%);
  color: #000039;
}

h1, h2, h3, h4, h5 {
  font-family: 'Electrolize';
}


// LOGO STUFF

@font-face {
  src: url('../fonts/Electrolize-Regular.ttf');
}
  
.logo-surround {
  display: flex;
  align-items: center;
  justify-content: center
}

.logo-title,
.logo-image {
   font-size: 100px;
   font-family: 'Electrolize';
   color: white;
   display: inline-block;
   padding: 10px;
 }
 
 .logo-bot {
   color: #0099FF; 
 }
 
 .logo-image img {
   height: 70px;
   background-color: white;
   border-radius: 6px;
   padding: 10px;
 }